<section class="vh-100">
    <div class="container">
     <div class="row d-flex justify-content-center aligns-items-center h-100">
          <div class="col-md-6 xyz">
              <img src="login.jpg" alt="login_image" width="100%"/>
          </div>
          <div class="col-md-6 xyz">
              <form [formGroup]="loginForm" (ngSubmit)="formSubmit()">
                  <div class="d-flex flex-row aligns-items-center justify-content-center justify-lg-start">
                     <p class="lead mb-0 me-3"> Sign in with</p>
                     <button type="button" class="btn btn-primary btn-floating mx-1">
                         <i class="fab fa-facebook-f"></i>
                     </button>
                     <button type="button" class="btn btn-primary btn-floating mx-1">
                      <i class="fab fa-twitter"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-floating mx-1">
                      <i class="fab fa-linkedin-in"></i>
                  </button>
                </div>

  <div class="mt-4 mb-4">
                      <p class="text-center fw-bold mx-3 mb-0"> Or </p>
                  </div>
                  <div class="form-outline mb-4">
                      <input type="email" id="forEmail" class="form-control form-control-lg" placeholder="Enter a valid Email" formControlName="email"/>
                    <div *ngIf="log['email'].invalid && log['email'].touched" class="alert-danger">
                        <div *ngIf="log['email'] && log['email'].errors?.['required']"> Email is required</div>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                      <input type="password" id="forPassword" class="form-control form-control-lg" placeholder="Enter password"  formControlName="password"/>
              
                  </div>
                  <div class="d-flex justify-content-between aligns-items-center">
                  <div class="form-check mb-0">
                      <input type="checkbox" class="form-check-input me-2"/>
                      <label class="form-check-label"> Remember Me</label>
                  </div>
                  <a href="" class="text-body"> Forgot Password</a>
              </div>
              
  
  <div class="text-center text-lg-start mt-4 pt-2">
                  <input type="submit" class="btn btn-primary btn-lg" value="Login" [disabled]="loginForm.invalid"/>
                  <p class="small fw-bold mt-2 pt-1 mb-0"> Don't have an account ? <a href="/signup"> Register</a></p>
              </div> 
              </form>
          </div>
     </div>
   </div>
  </section>