<section class="vh-100">
    <div class="container">
     <div class="row  h-100">
          <div class="col-md-6 xyz">
              <img src="login.jpg" alt="login_image" width="100%"/>
          </div>
          <div class="col-md-6 xyz">
              <form [formGroup]="registerForm" (ngSubmit)="formSubmit()">
                  <div class="mb-5">
                     <h2 class=" mb-0 me-3"> Register Here</h2>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" class="form-control form-control-lg" placeholder="Enter First Name" formControlName="firstName"/>
                    <!-- errors -->
                     <div *ngIf="reg['firstName'].invalid && reg['firstName'].touched">
                        <div *ngIf="reg['firstName'] && reg['firstName'].errors?.['required']"> First Name is Required, Allow only Alphabet</div>
                     </div>
                 </div>
                 <div class="form-outline mb-4">
                    <input type="text" class="form-control form-control-lg" placeholder="Enter Last Name"  formControlName="lastName"/>
                    <div *ngIf="reg['lastName'].invalid && reg['lastName'].touched">
                        <div *ngIf="reg['lastName'] && reg['lastName'].errors?.['required']"> First Name is Required, Allow only alphabet</div>
                     </div>
                 </div>
                  <div class="form-outline mb-4">
                      <input type="email" class="form-control form-control-lg" placeholder="Enter a valid Email"  formControlName="email"/>
                      <div *ngIf="reg['email'].invalid && reg['email'].touched">
                        <div *ngIf="reg['email'] && reg['email'].errors?.['required']"> Email is Required</div>
                     </div>
                  </div>
                  
<div class="form-outline mb-4">
                      <input type="password"  class="form-control form-control-lg" placeholder="Enter password"  formControlName="password"/>
              
                  </div>
                  <div class="form-outline mb-4">
                    <input type="number" class="form-control form-control-lg" placeholder="Enter mobile"  formControlName="mobile"/>
                 </div>
                 
               <div class="text-center text-lg-start mt-4 pt-2">
                  <input type="submit" class="btn btn-primary btn-lg" value="Register" [disabled]="registerForm.invalid"/>
                  <p class="small fw-bold mt-2 pt-1 mb-0">Already  have an account ? <a routerLink="/"> Click Here</a></p>
              </div> 
              </form>
          </div>
     </div>
   </div>
  </section>